<a href="https://colab.research.google.com/github/Tanishka5D0/tani5d0/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print it
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
sum=(a+b+c)
print(sum)

30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
name= "Tanishka"
type(name)

str

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=123456
type(a)

int

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
a="123"
print(int(a))
print(float(a))

123
123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
name="Tanishka"
print(name[0])

T

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
name="Tanishka"
print(len(name))

8

In [ ]:
# Write a Python program to check if a given string contains only alphabets.

In [ ]:
str="tanishka"
x=str.isalpha()
print(x)

True

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
str1=input("Enter a string:")
str2=input("Enter a string:")
result=str1+str2
print(result)

Enter a string:Pitla
Enter a string:Tanishka
PitlaTanishka

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
user_string=input("Enter a string: ")
index= user_string.find("abc")
if index != -1:
    print(f"The substring 'abc' is found at index {index}.")
else:
      print("The substring 'abc' is not found in the string.")

Enter a string: abctani
The substring 'abc' is found at index 0.

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
str=input("Enter a string:")
print(str.upper())
print(str.lower())

Enter a string:Tanishka
TANISHKA
tanishka

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
def count_char_in_string(string, char):
    return string.count(char)

input_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")
count = count_char_in_string(input_string, char_to_count)

print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: Tanishka
Enter the character to count: a
The character 'a' appears 2 times in the string.

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
uname = input("Enter your name: ")

print(f"Hello, {uname}.... Good Morning !!")

Enter your name: Tanishka
Hello, Tanishka.... Good Morning !!

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num1 = 20
num2 = 30

sum_result = num1 + num2

print(f"The sum of {num1} and {num2} is: {sum_result}")

The sum of 20 and 30 is: 50

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name=input("Enter your name:")
age=int(input("Enter your age:"))

Enter your name:Tanishka
Enter your age:21

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
num=int(input("Enter a number:"))
if(num==0):
 print("it is zero")
elif(num>0):
  print(num,"is a positive number")
elif(num<0):
       print(num,"is a negative number")
else:
        print("invalid input")

Enter a number:45648
45648 is a positive number

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1= int(input("Enter first number:"))
num2=int(input("Enter second number:"))
num3=int(input("Enter third number:"))
if(num1>num2 and num1>num3):
  print(num1,"is maximum number")
elif(num2>num1 and num2>num3):
  print(num2,"is maximum number")
elif(num3>num1 and num3>num2):
    print(num3,"is maximum number")
else:
  print("Invalid input")

Enter first number:12
Enter second number:13
Enter third number:12
13 is maximum number

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
year= int(input("Enter a year:"))
if(year%4==0):
  print("{year} is a leap year.")
else:
    print("{year} is not a leap year.")

Enter a year:2004
{year} is a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
num=int(input("Enter a number:"))
if(num%3==0 and num%5==0):
  print(num,"is divisible by both 3 and 5")
else:
  print(num,"is not divisible by both 3 and 5")

Enter a number:30
30 is divisible by both 3 and 5

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)
def is_palindrome(s):
  s=s.replace(" ","").lower()
  return s==s[::-1]
  s=input("Enter a string:")
  if is_polindrome(s):
    print(s,"is a polindrome")
  else:
    print(s,"is not a palindrome.")

In [ ]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
num = 2

# Using a while loop to print even numbers from 1 to 20
while num <= 20:
    print(num)
    num += 2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
# Input the number for which the multiplication table is to be printed
number = int(input("Enter a number to print its multiplication table: "))

# Using a for loop to print the multiplication table
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number to print its multiplication table: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)

n = int(input("Enter a number (n) to calculate the sum from 1 to n: "))
sum_of_numbers = 0
current_number = 1
while current_number <= n:
    sum_of_numbers += current_number
    current_number += 1
print(f"The sum of numbers from 1 to {n} is: {sum_of_numbers}")

Enter a number (n) to calculate the sum from 1 to n: 10
The sum of numbers from 1 to 10 is: 55

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
# Input the number to calculate the factorial
num = int(input("Enter a number to calculate its factorial: "))

factorial = 1
if num < 0:
    print("Factorial is not defined for negative numbers.")
elif num == 0:
    print("The factorial of 0 is 1.")
else:
    current_number = 1
    while current_number <= num:
        factorial *= current_number
        current_number += 1
        print(f"The factorial of {num} is: {factorial}")

Enter a number to calculate its factorial: -5
Factorial is not defined for negative numbers.

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
# Input the number of terms (n) for the Fibonacci sequence
n = int(input("Enter the number of terms in the Fibonacci sequence: "))

a, b = 0, 1

if n <= 0:
    print("Please enter a positive integer.")
elif n == 1:
    print(f"Fibonacci sequence up to {n} term: {a}")
else:
    print(f"Fibonacci sequence up to {n} terms:")
    for _ in range(n):
        print(a, end=" ")
        a, b = b, a + b

Enter the number of terms in the Fibonacci sequence: 3
Fibonacci sequence up to 3 terms:
0 1 1

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.

def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True

print("Prime numbers from 1 to 100 are:")
for num in range(1, 101):
    if is_prime(num):
        print(num, end=" ")

Prime numbers from 1 to 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [2]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
numbers = [10, 25, 30, 45, 50, 60, 70, 80]
for num in numbers:
    print(f"Checking number: {num}")
    if num > 50:
        print(f"Found a number greater than 50: {num}. Breaking out of the loop.")
        break

Checking number: 10
Checking number: 25
Checking number: 30
Checking number: 45
Checking number: 50
Checking number: 60
Found a number greater than 50: 60. Breaking out of the loop.

In [3]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for num in range(1, 21):
    if num % 2 == 0:
        continue
    print(num)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

input_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")

count = 0

for char in input_string:
    if char == char_to_count:
        count += 1
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: 8
Enter the character to count: 9
The character '9' appears 0 times in the string.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
# Input a number from the user
number = int(input("Enter a number: "))

sum_of_digits = 0

while number > 0:
    digit = number % 10
    sum_of_digits += digit
    number = number
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 10
The sum of the digits is: 1

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.

numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
sum_of_elements = sum(numbers)
print(f"The sum of the elements in the list is: {sum_of_elements}")

The sum of the elements in the list is: 55

In [ ]:
# Write a Python program to find the largest element in a list.
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))

largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print(f"The largest number in the list is: {largest}")

Enter a list of numbers separated by spaces: 3
The largest number in the list is: 3

In [ ]:
# Write a Python program to reverse a list.
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))

numbers.reverse()

print(f"The reversed list is: {numbers}")

Enter a list of numbers separated by spaces: 2 3 4
The reversed list is: [4, 3, 2]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
element = int(input("Enter the element to search for: "))
if element in numbers:
    print(f"The element {element} exists in the list.")
else:
    print(f"The element {element} does not exist in the list.")

Enter a list of numbers separated by spaces: 56
Enter the element to search for: 23
The element 23 does not exist in the list.

In [ ]:
# Write a Python program to find the index of an element in a list.
numbers = [90, 70, 50, 30, 20, 40]
element_to_find = 70
index= numbers.index(element_to_find)
print("index of",element_to_find,":",index)
print(numbers)

index of 70 : 1
[90, 70, 50, 30, 20, 40]

numbers = list(map(int, input("Enter a list of numbers separated by spaces: ").split()))
element = int(input("Enter the element to search for: "))


if element in numbers:
    print(f"The element {element} exists in the list.")
else:
    print(f"The element {element} does not exist in the list.")

In [ ]:
# Write a Python program to find if a specific element exists in a list.
numbers=[10, 50, 45, 70, 30, 25, 65]
element_to_find=56
if element_to_find in numbers:
  print(f"The element {element_to_find} exists in the list.")
else:
  print(f"The element {element_to_find} does not exists in the list.")

The element 56 does not exists in the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
def remove_duplicates(lst):
    return list(set(lst))

my_list = [1, 2, 3, 4, 2, 5, 1, 6]
print("Original list:", my_list)
result = remove_duplicates(my_list)
print("List after removing duplicates:", result)

Original list: [1, 2, 3, 4, 2, 5, 1, 6]
List after removing duplicates: [1, 2, 3, 4, 5, 6]

In [4]:
# Write a Python program to count the occurrences of an element in a list.
my_list = [1, 2, 3, 4, 2, 5, 2, 6, 7, 2]
element = 2
count = my_list.count(element)
print(f"The element {element} appears {count} times in the list.")

The element 2 appears 4 times in the list.

In [ ]:
# Write a Python program to get the number of even numbers in a list.
def count_even_numbers(lst):
    count = 0
    for num in lst:
        if num % 2 == 0:
            count += 1
    return count
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print("Original list:", my_list)
even_count = count_even_numbers(my_list)
print(f"The number of even numbers in the list is: {even_count}")

Original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
The number of even numbers in the list is: 5

In [5]:
# Write a Python program to create a tuple and print it.
my_tuple = (10, 20, 30, 40, 50)
print("The tuple is:", my_tuple)

The tuple is: (10, 20, 30, 40, 50)

In [6]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (1, 2, 3, 4, 5)
my_list = list(my_tuple)
print("Converted tuple to list:", my_list)
my_list2 = [10, 20, 30, 40, 50]

my_tuple2 = tuple(my_list2)
print("Converted list to tuple:", my_tuple2)

Converted tuple to list: [1, 2, 3, 4, 5]
Converted list to tuple: (10, 20, 30, 40, 50)

In [7]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (10, 20, 5, 40, 15)
max_value = max(my_tuple)
min_value = min(my_tuple)

print("Maximum value in the tuple:", max_value)
print("Minimum value in the tuple:", min_value)

Maximum value in the tuple: 40
Minimum value in the tuple: 5

In [8]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30, 40, 50)

a, b, c, d, e = my_tuple
print("Unpacked values:")
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

Unpacked values:
a = 10
b = 20
c = 30
d = 40
e = 50

In [11]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1, 2, 3, 4, 5}

my_set.add(6)
element = 3
if element in my_set:
    print(f"{element} exists in the set.")
else:
    print(f"{element} does not exist in the set.")
element = 7
if element in my_set:
    print(f"{element} exists in the set.")
else:
 print(f"{element} does not exist in the set.")

3 exists in the set.
7 does not exist in the set.

In [14]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "name": "Tanishka",
    "age": 22,
    "city": "Hyderabad",
    "job": " Python Developer"
}

print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Tanishka', 'age': 22, 'city': 'Hyderabad', 'job': ' Python Developer'}

In [16]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "name": "Tanishka",
    "age": 21,
    "city": "Hyderabad"
}

name_value = my_dict["name"]
age_value = my_dict["age"]

print("Name:", name_value)
print("Age:", age_value)

Name: Tanishka
Age: 21

In [17]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "name": "Tanishka",
    "age": 20,
    "city": "Banglore"
}

key_to_check = "age"

if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [ ]:
# Write a Python program to merge two dictionaries.
def merge_dicts(dict1, dict2):
    dict1.update(dict2)
    return dict1
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'d': 4, 'e': 5}
merged_dict = merge_dicts(dict1, dict2)
print("Merged Dictionary:", merged_dict)

Merged Dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}

In [ ]:
# Write a Python program to remove a key from a dictionary.
def remove_key_from_dict(d, key):
    if key in d:
        del d[key]
        print(f"Key '{key}' has been removed.")
    else:
        print(f"Key '{key}' not found in the dictionary.")
    return d
my_dict = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
print("Original dictionary:", my_dict)
key_to_remove = 'b'
updated_dict = remove_key_from_dict(my_dict, key_to_remove)
print("Updated dictionary:", updated_dict)

Original dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}
Key 'b' has been removed.
Updated dictionary: {'a': 1, 'c': 3, 'd': 4}

In [18]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "name": "Tanishka",
    "age": 23,
    "city": "JHyderabad",
    "job": " Sofrware Engineer"
}

num_keys = len(my_dict)

print("The number of keys in the dictionary:", num_keys)

The number of keys in the dictionary: 4

In [19]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {
    "a": 10,
    "b": 25,
    "c": 5,
    "d": 40,
    "e": 15
}
max_value = max(my_dict.values())

min_value = min(my_dict.values())
print("The largest value in the dictionary:", max_value)
print("The smallest value in the dictionary:", min_value)

The largest value in the dictionary: 40
The smallest value in the dictionary: 5

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.
def square(num):
    return num ** 2
number = 7
result = square(number)
print(f"The square of {number} is: {result}")

The square of 7 is: 49

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def add_numbers(num1, num2):
    return num1 + num2

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
result = add_numbers(num1, num2)
print(f"The sum of {num1} and {num2} is: {result}")

Enter the first number: 10
Enter the second number: 25
The sum of 10.0 and 25.0 is: 35.0

In [ ]:
# Write a Python function to check if a given number is prime.
def is_prime(number):
    if number <= 1:
        return False
    for i in range(2, int(number ** 0.5) + 1):
        if number % i == 0:
            return False
    return True
num = int(input("Enter a number to check if it is prime: "))
if is_prime(num):
    print(f"{num} is a prime number.")
else:
    print(f"{num} is not a prime number.")

Enter a number to check if it is prime: 7
7 is a prime number.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

num = int(input("Enter a number to calculate its factorial: "))
result = factorial(num)
print(f"The factorial of {num} is: {result}")

Enter a number to calculate its factorial: 62
The factorial of 62 is: 31469973260387937525653122354950764088012280797258232192163168247821107200000000000000

In [ ]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent ==0:
        return 1 /  power(base, exponent - 1)
    else:
      return base * power(base, exponent -1 )
base = 18
exponent = 9
result = power(base, exponent)
print(f"{base} raised to the power of {exponent} is: {result}")

18 raised to the power of 9 is: 198359290368

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    length = 0
    for item in lst:
        length += 1
    return length

my_list = input("Enter a list of numbers separated by spaces: ").split()
my_list = [int(x) for x in my_list]

result = list_length(my_list)
print(f"The length of the list is: {result}")

Enter a list of numbers separated by spaces: 20
The length of the list is: 1

In [20]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_args(*args, **kwargs):
    total = sum(args)

    print("The sum of positional arguments is:", total)
sum_positional_args(1, 2, 3, 4, 5, name="Tanishka", age=20)

The sum of positional arguments is: 15

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def maximum(num1, num2):
    if num1 > num2:
        return num1
    else:
        return num2
result = maximum(num1=10, num2=20)
print(f"The maximum of the two numbers is: {result}")

The maximum of the two numbers is: 20

In [21]:
# Write a Python function that accepts a list of numbers and returns their product.
import math

def product_of_numbers(numbers):
    return math.prod(numbers)

numbers = [1, 2, 3, 4, 5]
result = product_of_numbers(numbers)
print("The product of the numbers is:", result)

The product of the numbers is: 120

In [22]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"
num = 7
result = check_even_odd(num)
print(f"The number {num} is {result}.")

The number 7 is Odd.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [i**2 for i in range(1, 11)]

print("List of squares from 1 to 10:", squares)

List of squares from 1 to 10: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [23]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

odd_numbers = [num for num in numbers if num % 2 != 0]

print("Odd numbers:", odd_numbers)

Odd numbers: [1, 3, 5, 7, 9]

In [24]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

words = ["apple", "bat", "banana", "dog", "elephant", "cat", "giraffe"]

long_words = [word for word in words if len(word) > 4]

print("Words longer than 4 characters:", long_words)

Words longer than 4 characters: ['apple', 'banana', 'elephant', 'giraffe']

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
# Input string from the user
input_string = input("Enter a string: ")

uppercase_letters = [char for char in input_string if char.isupper()]
print("List of uppercase letters:", uppercase_letters)

Enter a string: Tanishka
List of uppercase letters: ['T']

In [32]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):

    fib_sequence = [0, 1] + [sum([0, 1][i-2:i]) for i in range(2, n)]
    return fib_sequence[:n]

n = 10
fib_numbers = fibonacci(n)
print(f"The first {n} Fibonacci numbers are:", fib_numbers)

The first 10 Fibonacci numbers are: [0, 1, 1, 1, 0, 0, 0, 0, 0, 0]

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
def create_square_dict(n):
    square_dict = {x: x**2 for x in range(1, n+1)}
    return square_dict
n = 5
result = create_square_dict(n)
print(f"The dictionary of numbers and their squares up to{n}: {result}")

The dictionary of numbers and their squares up to5: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ["a", "b", "c", "d"]
values = [2, 4, 6, 8]

result = {key: value for key, value in zip(keys, values)}
print(result)

{'a': 2, 'b': 4, 'c': 6, 'd': 8}

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
def create_cube_dict():
  cube_dict = {x: x**3 for x in range (1, 6)}
  return cube_dict
  result = create_cube_dict()
  print(f"Dictionary of numbers and their cubes: {result}")

In [ ]:
# Write a Python program to square each element of a list using the map() function.
def square_elements(input_list):
    return list(map(lambda x: x**2, input_list))
input_list = [1, 2, 3, 4, 5, 6, 7]
result =square_elements(input_list)
print(f"Squared elements of the list: {result}")

Squared elements of the list: [1, 4, 9, 16, 25, 36, 49]

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.
def filter_even_numbers(input_list):
    return list(filter(lambda x: x% 2 ==0, input_list))
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 9, 10, 11, 12, 13, 14, 15]
result = filter_even_numbers(input_list)
print(f"Even numbers from the list: {result}")

Even numbers from the list: [2, 4, 6, 8, 10, 12, 14]

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
check_divisibility = lambda num: num % 3 == 0 and num % 5 == 0

num = int(input("Enter a number: "))

if check_divisibility(num):
    print(f"{num} is divisible by both 3 and 5.")
else:
    print(f"{num} is not divisible by both 3 and 5.")

Enter a number: 15
15 is divisible by both 3 and 5.

In [29]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print("Doubled numbers:", doubled_numbers)

Doubled numbers: [2, 4, 6, 8, 10]

In [30]:
# Write a Python program to remove all occurrences of a specific element from a list.
def remove_element(lst, element):
    return [item for item in lst if item != element]

numbers = [1, 2, 3, 4, 2, 5, 2, 6]
element_to_remove = 2

new_list = remove_element(numbers, element_to_remove)

print("Updated list:", new_list)

Updated list: [1, 3, 4, 5, 6]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`